# Final Project Submission

Please fill out:
* Student name: Aashish Gatamaneni
* Student pace: self paced
* Scheduled project review date/time: 
* Instructor name: Morgan Jones
* Blog post URL:

# Aviation Airplane Safety Analysis

### Place image here

## Business Problem
This project takes a look at the Aviation Accident Dataset which contains data about civil aviation accidents and incidents in the United States and its territories, and international waters. Using this dataset, I identify patterns in accidents that result in the most damage to the aircraft and its passengers to help the Aviation company determine aircrafts that present lower risks for the company.

### Place image here

## Data Understanding

The Aviation Accident Database contains aviation accident data from 1962-2023 with each accident is given a unique ID that displays all the accident and aircraft data associated with that unique ID (e.g. weather, aircraft model, etc.)

In [1]:
import pandas as pd
import numpy as np

In [3]:
aviation = pd.read_csv('./data/Aviation_Data.csv')

/var/folders/tr/25_dhxdn761_fdmhsy7p1r9r0000gn/T/ipykernel_67535/4063860901.py:1: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  aviation = pd.read_csv('./data/Aviation_Data.csv')

In [4]:
aviation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [5]:
#Check for missing values
aviation.isna().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40216
Airport.Name              37644
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2841
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8555
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7843
Publication.Date          16689
dtype: int64

In [6]:
aviation.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [7]:
aviation['Total.Fatal.Injuries'].value_counts()

Total.Fatal.Injuries
0.0      59675
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
156.0        1
68.0         1
31.0         1
115.0        1
176.0        1
Name: count, Length: 125, dtype: int64

In [8]:
aviation['Weather.Condition'].value_counts()

Weather.Condition
VMC    77303
IMC     5976
UNK      856
Unk      262
Name: count, dtype: int64

In [9]:
aviation['Engine.Type'].value_counts()

Engine.Type
Reciprocating      69530
Turbo Shaft         3609
Turbo Prop          3391
Turbo Fan           2481
Unknown             2051
Turbo Jet            703
Geared Turbofan       12
Electric              10
LR                     2
NONE                   2
Hybrid Rocket          1
UNK                    1
Name: count, dtype: int64

In [10]:
aviation['Broad.phase.of.flight'].value_counts()

Broad.phase.of.flight
Landing        15428
Takeoff        12493
Cruise         10269
Maneuvering     8144
Approach        6546
Climb           2034
Taxi            1958
Descent         1887
Go-around       1353
Standing         945
Unknown          548
Other            119
Name: count, dtype: int64

In [11]:
aviation['Report.Status'].value_counts()

Report.Status
Probable Cause                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        61754
Foreign                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1999
<br /><br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            167
Factual                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 145
The pilot's failure to maintain directional control during the landing roll.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             58
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
The certified flight instructor's delayed remedial action and inadequate supervision during a practice autorotation. Contributing to the accident was the student pilot's excessive application of the throttle.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
The pilot's inadequate fuel management, which resulted in a loss of engine power due to fuel starvation.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
Sundance Helicopters inadequate maintenance of the helicopter, including (1) the improper reuse of a degraded self-locking nut, (2) the improper or lack of installation of a split pin, and (3) inadequate postmaintenance inspections, which resulted in the in-flight separation of the servo control input rod from the fore/aft servo and rendered the helicopter uncontrollable. Contributing to the improper or lack of installation of the split pin was the mechanics fatigue and the lack of clearly delineated maintenance task steps to follow. Contributing to the inadequate postmaintenance inspection was the inspectors fatigue and the lack of clearly delineated inspection steps to follow.        1
The total loss of engine power for reasons that could not be determined because postaccident examination of the airframe and engine did not reveal evidence of preaccident mechanical malfunctions or failures that would have precluded normal operation.                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
The pilots loss of control due to a wind gust during landing.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
Name: count, Length: 17006, dtype: int64

In [12]:
aviation['Make'].value_counts()

Make
Cessna             22227
Piper              12029
CESSNA              4922
Beech               4330
PIPER               2841
                   ...
Leonard Walters        1
Maule Air Inc.         1
Motley Vans            1
Perlick                1
ROYSE RALPH L          1
Name: count, Length: 8237, dtype: int64

In [13]:
aviation['Air.carrier'].value_counts()

Air.carrier
Pilot                        258
American Airlines             90
United Airlines               89
Delta Air Lines               53
SOUTHWEST AIRLINES CO         42
                            ...
WOODY CONTRACTING INC          1
Rod Aviation LLC               1
Paul D Franzon                 1
TRAINING SERVICES INC DBA      1
MC CESSNA 210N LLC             1
Name: count, Length: 13590, dtype: int64

## Data Preparation

### Data Cleaning

#### Dropping columns

First, I'm going the make the columns more easily accessible. We also have a lot of columns that won't be relevant, so I will drop those unnecessary columns

In [14]:
aviation.columns = aviation.columns = aviation.columns.str.lower().str.replace('.', '_')
aviation.drop(columns = ['latitude', 'longitude', 'airport_code', 'airport_name', 'purpose_of_flight', 'publication_date', 'registration_number'], inplace = True)
aviation.head()

,event_id,investigation_type,accident_number,event_date,location,country,injury_severity,aircraft_damage,aircraft_category,make,...,far_description,schedule,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,NaN,Stinson,...,NaN,NaN,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,NaN,Piper,...,NaN,NaN,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,NaN,Cessna,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,NaN,Rockwell,...,NaN,NaN,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,NaN,Cessna,...,NaN,NaN,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause

I dropped the columns that weren't going to help with observations, but I'm also going to drop the columns that have mostly missing data

In [15]:
aviation.isna().sum()

event_id                   1459
investigation_type            0
accident_number            1459
event_date                 1459
location                   1511
country                    1685
injury_severity            2459
aircraft_damage            4653
aircraft_category         58061
make                       1522
model                      1551
amateur_built              1561
number_of_engines          7543
engine_type                8555
far_description           58325
schedule                  77766
air_carrier               73700
total_fatal_injuries      12860
total_serious_injuries    13969
total_minor_injuries      13392
total_uninjured            7371
weather_condition          5951
broad_phase_of_flight     28624
report_status              7843
dtype: int64

We can drop the **aircraft_category**, **far_description**, **schedule**, and **air_carrier** columns which all have more missing data than actual data

In [16]:
aviation.drop(columns = ['aircraft_category', 'far_description', 'schedule', 'air_carrier'], inplace = True)
aviation.head()

,event_id,investigation_type,accident_number,event_date,location,country,injury_severity,aircraft_damage,make,model,amateur_built,number_of_engines,engine_type,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,Stinson,108-3,No,1.0,Reciprocating,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,Piper,PA24-180,No,1.0,Reciprocating,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,Cessna,172M,No,1.0,Reciprocating,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,Rockwell,112,No,1.0,Reciprocating,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,Cessna,501,No,NaN,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause

#### Check for duplicates

In [17]:
duplicates = aviation[aviation.duplicated()]
print(len(duplicates))
duplicates.head()

1392

,event_id,investigation_type,accident_number,event_date,location,country,injury_severity,aircraft_damage,make,model,amateur_built,number_of_engines,engine_type,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status
64050,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64052,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64388,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64541,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64552,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

There seems to be 1390 duplicate rows, so I will drop the duplicate rows except for the first occurrence

In [18]:
aviation.drop_duplicates(inplace=True)

In [19]:
duplicates = aviation[aviation.duplicated()]
print(len(duplicates))
duplicates.head()

0

Empty DataFrame
Columns: [event_id, investigation_type, accident_number, event_date, location, country, injury_severity, aircraft_damage, make, model, amateur_built, number_of_engines, engine_type, total_fatal_injuries, total_serious_injuries, total_minor_injuries, total_uninjured, weather_condition, broad_phase_of_flight, report_status]
Index: []

I will drop all the observations (rows) that only have missing values

In [20]:
aviation.dropna(subset=['event_id'], inplace = True)
aviation.isna().sum()

event_id                      0
investigation_type            0
accident_number               0
event_date                    0
location                     52
country                     226
injury_severity             999
aircraft_damage            3193
make                         63
model                        92
amateur_built               102
number_of_engines          6083
engine_type                7094
total_fatal_injuries      11401
total_serious_injuries    12510
total_minor_injuries      11933
total_uninjured            5912
weather_condition          4491
broad_phase_of_flight     27163
report_status              6382
dtype: int64

In [21]:
aviation['make'].value_counts()

make
Cessna             22227
Piper              12029
CESSNA              4922
Beech               4330
PIPER               2841
                   ...
Leonard Walters        1
Maule Air Inc.         1
Motley Vans            1
Perlick                1
ROYSE RALPH L          1
Name: count, Length: 8237, dtype: int64

Fixing the data entry issues, CESSNA and PIPER shouldn't be seperate categories

In [22]:
aviation['make'] = aviation['make'].replace('CESSNA', 'Cessna')
aviation['make'] = aviation['make'].replace('PIPER', 'Piper')

In [23]:
aviation['make'].value_counts()

make
Cessna             27149
Piper              14870
Beech               4330
Bell                2134
Boeing              1594
                   ...
Leonard Walters        1
Maule Air Inc.         1
Motley Vans            1
Perlick                1
ROYSE RALPH L          1
Name: count, Length: 8235, dtype: int64

Filling in NaN values in the **report_status** column with most frequent report status

In [24]:
aviation['report_status'].fillna(value='Probable Cause', inplace = True)
aviation['report_status'].value_counts()
aviation['report_status'].isna().sum()

0

Filling in NaN values in **weather_condition** column with **'Missing'** value, and adding the 'UNK' and 'Unk' values to the 'Missing' category

In [25]:
aviation['weather_condition'].fillna(value='Missing', inplace = True)
aviation['weather_condition'] = aviation['weather_condition'].replace('UNK', 'Missing')
aviation['weather_condition'] = aviation['weather_condition'].replace('Unk', 'Missing')
aviation['weather_condition'].value_counts()

weather_condition
VMC        77302
IMC         5976
Missing     5609
Name: count, dtype: int64

Filling in NaN values in **broad_phase_of_flight** column with 'Missing' value, and adding 'Unknown' values to 'Missing' category

In [26]:
aviation['broad_phase_of_flight'].fillna(value='Missing', inplace = True)
aviation['broad_phase_of_flight'] = aviation['broad_phase_of_flight'].replace('Unknown', 'Missing')
aviation['broad_phase_of_flight'].value_counts()

broad_phase_of_flight
Missing        27711
Landing        15428
Takeoff        12493
Cruise         10269
Maneuvering     8144
Approach        6546
Climb           2034
Taxi            1958
Descent         1887
Go-around       1353
Standing         945
Other            119
Name: count, dtype: int64

In [27]:
aviation[aviation['injury_severity'].isna()]

,event_id,investigation_type,accident_number,event_date,location,country,injury_severity,aircraft_damage,make,model,amateur_built,number_of_engines,engine_type,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status
63918,20080111X00038,Incident,DCA08WA024,2008-01-03,"Deauville Saint, France",France,NaN,Minor,Boeing,737-400,No,NaN,NaN,0.0,0.0,0.0,0.0,Missing,Missing,Probable Cause
63962,20080204X00132,Accident,NYC08WA081,2008-01-16,"Kiteni, Peru",Peru,NaN,Substantial,Bell,212,No,NaN,NaN,0.0,0.0,0.0,0.0,Missing,Missing,Probable Cause
63987,20080304X00254,Incident,ENG08RA015,2008-01-24,"Kingston, Jamaica",Jamaica,NaN,NaN,Cessna,C208B Caravan,No,NaN,NaN,0.0,0.0,0.0,0.0,Missing,Missing,Probable Cause
64026,20081219X65255,Incident,ENG08WA014,2008-02-03,"Nurnberg, Germany",Germany,NaN,NaN,BOEING,737,No,2.0,NaN,0.0,0.0,0.0,0.0,Missing,Missing,Probable Cause
64131,20080409X00444,Accident,NYC08WA121,2008-02-28,"Lago Ranco, Chile",Chile,NaN,Substantial,Piper,PA-34-200,No,NaN,NaN,0.0,0.0,0.0,0.0,VMC,Missing,Probable Cause
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90322,20221213106449,Accident,GAA22WA311,2022-12-11,"Kildare,",Ireland,NaN,Destroyed,ROBINSON HELICOPTER COMPANY,R44 II,No,1.0,NaN,0.0,0.0,0.0,0.0,Missing,Missing,Probable Cause
90333,20221215106462,Accident,CEN23LA064,2022-12-15,"Patterson, LA",United States,NaN,NaN,BELL,206-L4,No,NaN,NaN,0.0,0.0,0.0,0.0,Missing,Missing,Probable Cause
90338,20221219106472,Accident,DCA23LA096,2022-12-18,"Kahului, HI",United States,NaN,NaN,AIRBUS,A330-243,No,NaN,NaN,0.0,0.0,0.0,0.0,Missing,Missing,Probable Cause
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,BELLANCA,7ECA,No,NaN,NaN,0.0,0.0,0.0,0.0,Missing,Missing,Probable Cause
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,Cessna,210N,No,NaN,NaN,0.0,0.0,0.0,0.0,Missing,Missing,Probable Cause

Looks like the rows with NaN values for injury severity have no injury data, so I'm going to drop those rows

In [28]:
aviation.dropna(subset=['injury_severity'], inplace = True)
aviation['injury_severity'].isna().sum()

0

Filling in the NaN values with "Missing" value and adding "Unknown" values to that category for the rest of the categorical columns

In [29]:
aviation['aircraft_damage'].value_counts()

aircraft_damage
Substantial    63963
Destroyed      18561
Minor           2583
Unknown           92
Name: count, dtype: int64

In [30]:
aviation['aircraft_damage'].fillna(value="Missing", inplace = True)
aviation['aircraft_damage'] = aviation['aircraft_damage'].replace('Unknown', 'Missing')
aviation['aircraft_damage'].value_counts()

aircraft_damage
Substantial    63963
Destroyed      18561
Missing         2781
Minor           2583
Name: count, dtype: int64

In [31]:
aviation['engine_type'].value_counts()

engine_type
Reciprocating      69503
Turbo Shaft         3602
Turbo Prop          3372
Turbo Fan           2360
Unknown             2049
Turbo Jet            698
Electric               8
LR                     2
NONE                   2
Hybrid Rocket          1
Geared Turbofan        1
UNK                    1
Name: count, dtype: int64

In [32]:
aviation['engine_type'].fillna(value="Missing", inplace = True)
aviation['engine_type'] = aviation['engine_type'].replace('Unknown', 'Missing')
aviation['engine_type'] = aviation['engine_type'].replace('UNK', 'Missing')
aviation['engine_type'] = aviation['engine_type'].replace('NONE', 'Missing')
aviation['engine_type'].value_counts()

engine_type
Reciprocating      69503
Missing             8341
Turbo Shaft         3602
Turbo Prop          3372
Turbo Fan           2360
Turbo Jet            698
Electric               8
LR                     2
Hybrid Rocket          1
Geared Turbofan        1
Name: count, dtype: int64

In [33]:
aviation[aviation['number_of_engines'].isna()]

,event_id,investigation_type,accident_number,event_date,location,country,injury_severity,aircraft_damage,make,model,amateur_built,number_of_engines,engine_type,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,Cessna,501,No,NaN,Missing,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause
3600,20001214X42040,Accident,LAX83LA093,1983-01-01,"ARROYO GRANDE, CA",United States,Non-Fatal,Missing,Piccard,AX-6,No,NaN,Missing,0.0,1.0,0.0,1.0,VMC,Landing,Probable Cause
3741,20001214X42020,Accident,LAX83FUG14,1983-01-22,"NORTH SHORE, CA",United States,Non-Fatal,Substantial,Schweizer,2-33A,No,NaN,Missing,0.0,1.0,0.0,0.0,VMC,Takeoff,Probable Cause
3772,20001214X41990,Accident,FTW83FA102,1983-01-29,"HEMPSTEAD, TX",United States,Fatal(1),Destroyed,Schweizer,SGS 1-26B,No,NaN,Missing,1.0,0.0,0.0,0.0,VMC,Approach,Probable Cause
3870,20001214X42203,Accident,FTW83LA112,1983-02-12,"LITTLEFIELD, TX",United States,Non-Fatal,Substantial,Pratt-read,PRG-1,No,NaN,Missing,0.0,0.0,0.0,1.0,VMC,Cruise,Probable Cause
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90340,20221221106483,Accident,CEN23LA067,2022-12-21,"Auburn Hills, MI",United States,Minor,Missing,Cessna,172F,No,NaN,Missing,0.0,1.0,0.0,0.0,Missing,Missing,Probable Cause
90341,20221222106486,Accident,CEN23LA068,2022-12-21,"Reserve, LA",United States,Minor,Missing,GRUMMAN AMERICAN AVN. CORP.,AA-5B,No,NaN,Missing,0.0,1.0,0.0,1.0,Missing,Missing,Probable Cause
90342,20221228106502,Accident,GAA23WA046,2022-12-22,"Brasnorte,",Brazil,Fatal,Missing,AIR TRACTOR,AT502,No,NaN,Missing,1.0,0.0,0.0,0.0,Missing,Missing,Probable Cause
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,Minor,Missing,Piper,PA-28-151,No,NaN,Missing,0.0,1.0,0.0,0.0,Missing,Missing,Probable Cause
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,Minor,Missing,Piper,PA-24-260,No,NaN,Missing,0.0,1.0,0.0,1.0,Missing,Missing,Probable Cause

After further analysis of the data, the rows in which number of engines has NaN values also has missing values in the engine type along with a few missing values in the **aircraft_damage**, **weather_condition**, and **broad_phase_of_flight** columns. Although it's usually inadvisable to drop this many rows, these rows have tons of missing data and shouldn't affect our the validity of our dataset as a whole

In [34]:
aviation.dropna(subset=['number_of_engines'], inplace = True)
aviation.isna().sum()

event_id                      0
investigation_type            0
accident_number               0
event_date                    0
location                     23
country                     218
injury_severity               0
aircraft_damage               0
make                         14
model                        38
amateur_built                20
number_of_engines             0
engine_type                   0
total_fatal_injuries      10613
total_serious_injuries    11396
total_minor_injuries      10751
total_uninjured            5056
weather_condition             0
broad_phase_of_flight         0
report_status                 0
dtype: int64

Cleaned up most of the missing values, now for the continuous columns **total_fatal_injuries**, **total_serious_injuries**, **total_minor_injuries**, and **total_uninjured** I will fill those values with the most common occurence

In [35]:
aviation['total_fatal_injuries'].fillna(value=0.0, inplace = True)
aviation['total_serious_injuries'].fillna(value=0.0, inplace = True)
aviation['total_minor_injuries'].fillna(value=0.0, inplace = True)
aviation['total_uninjured'].fillna(value=0.0, inplace = True)
aviation.isna().sum()

event_id                    0
investigation_type          0
accident_number             0
event_date                  0
location                   23
country                   218
injury_severity             0
aircraft_damage             0
make                       14
model                      38
amateur_built              20
number_of_engines           0
engine_type                 0
total_fatal_injuries        0
total_serious_injuries      0
total_minor_injuries        0
total_uninjured             0
weather_condition           0
broad_phase_of_flight       0
report_status               0
dtype: int64

In [39]:
aviation[aviation['country'].isna()]

,event_id,investigation_type,accident_number,event_date,location,country,injury_severity,aircraft_damage,make,model,amateur_built,number_of_engines,engine_type,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status
36,20020917X02410,Accident,MIA82FKA05,1982-01-04,SAINT CROIX,NaN,Fatal(1),Destroyed,Cessna,206,No,1.0,Reciprocating,1.0,0.0,1.0,0.0,VMC,Taxi,Probable Cause
464,20020917X02358,Accident,MIA82DA062,1982-03-02,HUMA CAO,NaN,Fatal(1),Destroyed,Cessna,150,No,1.0,Reciprocating,1.0,0.0,0.0,0.0,VMC,Descent,Probable Cause
465,20020917X02026,Accident,FTW82DA076,1982-03-02,MUSTANG BLK A11,NaN,Non-Fatal,Missing,Bell,12,No,2.0,Turbo Shaft,0.0,1.0,0.0,5.0,VMC,Standing,Probable Cause
725,20020917X02377,Accident,MIA82DA091,1982-03-31,MOCA,NaN,Non-Fatal,Substantial,Piper,PA-32R,No,1.0,Reciprocating,0.0,0.0,0.0,1.0,Missing,Landing,Probable Cause
831,20020917X02069,Accident,FTW82DA127,1982-04-13,WEST DELTA 105D,NaN,Non-Fatal,Destroyed,Bell,206B,No,1.0,Turbo Shaft,0.0,0.0,1.0,0.0,VMC,Takeoff,Probable Cause
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48268,20001212X20824,Accident,FTW00LA137,2000-04-29,SALT MARSH,NaN,Non-Fatal,Substantial,Bell,206L3,No,1.0,Turbo Shaft,0.0,0.0,0.0,2.0,VMC,Approach,Probable Cause
48800,20001212X21530,Accident,MIA00FA208,2000-07-08,VIEQUES,NaN,Fatal(1),Destroyed,Cessna,402C,No,2.0,Reciprocating,1.0,0.0,0.0,0.0,VMC,Descent,Probable Cause
49292,20001212X21973,Accident,FTW00LA252,2000-09-07,EUGENE IS 296B,NaN,Non-Fatal,Substantial,Bell,206-L1,No,1.0,Turbo Shaft,0.0,1.0,0.0,0.0,VMC,Approach,Probable Cause
51557,20011015X02088,Accident,MIA02FAMS1,2001-10-01,Unknown,NaN,Fatal(1),Destroyed,Ayres,S2RHG-T65,No,1.0,Turbo Prop,1.0,0.0,0.0,0.0,VMC,Missing,Probable Cause
52288,20020322X00387,Accident,DCA02MA029,2002-03-22,int'l waters,NaN,Non-Fatal,Minor,Mcdonnell Douglas,DC-10-30,No,3.0,Turbo Fan,0.0,1.0,4.0,257.0,VMC,Descent,Probable Cause

In [48]:
#Filling in missing values for country column
aviation['country'].fillna(value="Int/US Territory", inplace = True)

In [46]:
#Filling in missing values with most common occurence
aviation['amateur_built'].fillna(value='No', inplace = True)

Since theres only a few observations with missing values, it shouldn't be too consequential to the dataset if I drop these rows

In [47]:
aviation.dropna(subset=['location'], inplace = True)
aviation.dropna(subset=['make'], inplace = True)
aviation.dropna(subset=['model'], inplace = True)
aviation.isna().sum()

event_id                  0
investigation_type        0
accident_number           0
event_date                0
location                  0
country                   0
injury_severity           0
aircraft_damage           0
make                      0
model                     0
amateur_built             0
number_of_engines         0
engine_type               0
total_fatal_injuries      0
total_serious_injuries    0
total_minor_injuries      0
total_uninjured           0
weather_condition         0
broad_phase_of_flight     0
report_status             0
dtype: int64

### Feature Engineering

Creating a **total_injuries** column to display the total amount of injuries from each accident

In [49]:
aviation['total_injuries'] = (aviation['total_fatal_injuries']+aviation['total_serious_injuries']+aviation['total_minor_injuries'])
aviation.head()

,event_id,investigation_type,accident_number,event_date,location,country,injury_severity,aircraft_damage,make,model,...,number_of_engines,engine_type,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,total_injuries
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,Stinson,108-3,...,1.0,Reciprocating,2.0,0.0,0.0,0.0,Missing,Cruise,Probable Cause,2.0
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,Piper,PA24-180,...,1.0,Reciprocating,4.0,0.0,0.0,0.0,Missing,Missing,Probable Cause,4.0
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,Cessna,172M,...,1.0,Reciprocating,3.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,3.0
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,Rockwell,112,...,1.0,Reciprocating,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,2.0
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,Non-Fatal,Substantial,Mcdonnell Douglas,DC9,...,2.0,Turbo Fan,0.0,0.0,1.0,44.0,VMC,Climb,Probable Cause,1.0

## Data Analysis

In [58]:
import matplotlib
import matplotlib.pyplot as plt

%matplotlib inline

In [62]:
aviation[['make', 'total_injuries']].groupby(['make']).agg(['count', 'mean', 'min'])

                         total_injuries
                                  count      mean  min
make
107.5 Flying Corporation              1  1.000000  1.0
1200                                  1  1.000000  1.0
177MF LLC                             1  2.000000  2.0
1st Ftr Gp                            1  1.000000  1.0
2000 Mccoy                            1  1.000000  1.0
...                                 ...       ...  ...
Zorn                                  1  1.000000  1.0
Zukowski                              1  0.000000  0.0
Zwart                                 1  0.000000  0.0
de Havilland                          9  0.777778  0.0
unknown                               1  1.000000  1.0

[7894 rows x 3 columns]